@page
@model PennslyvaniaNationalParks.Pages.IndexModel
@{
    ViewData["Title"] = "Parks page";
}



<div class="text-center">
    <h1 class="display-4"> Welcome to Parks</h1>
    <p>
        This little app pulls a list of all the national parks in
        the great state of Pennslyvania from data.gov and displays them in a orderly manner.
    </p>
</div>